<app-header title="Chip"></app-header>

<ion-content fullscreen="" class="md hydrated" style="--offset-top:76px; --offset-bottom:0px;">
    <ion-list-header class="md hydrated">Basic</ion-list-header>
    <p>
        <ion-chip class="md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Default</ion-label>
        </ion-chip>
        <ion-chip class="md ion-activatable hydrated">
            <ion-icon name="checkmark-circle" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Icon</ion-label>
        </ion-chip>
        <ion-chip class="md ion-activatable hydrated">
            <ion-avatar class="md hydrated">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+">
            </ion-avatar>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Avatar</ion-label>
        </ion-chip>
    </p>

    <ion-list-header class="md hydrated">Colors</ion-list-header>
    <p>
        <ion-chip color="primary" class="ion-color ion-color-primary md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Primary</ion-label>
        </ion-chip>
        <ion-chip color="secondary" class="ion-color ion-color-secondary md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Secondary</ion-label>
        </ion-chip>
        <ion-chip color="tertiary" class="ion-color ion-color-tertiary md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Tertiary</ion-label>
        </ion-chip>
        <ion-chip color="success" class="ion-color ion-color-success md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Success</ion-label>
        </ion-chip>
        <ion-chip color="warning" class="ion-color ion-color-warning md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Warning</ion-label>
        </ion-chip>
        <ion-chip color="danger" class="ion-color ion-color-danger md ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Danger</ion-label>
        </ion-chip>
    </p>

    <ion-list-header class="md hydrated">Outline</ion-list-header>
    <p>
        <ion-chip outline="" color="primary" class="ion-color ion-color-primary md chip-outline ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Primary</ion-label>
        </ion-chip>
        <ion-chip outline="" color="secondary" class="ion-color ion-color-secondary md chip-outline ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Secondary</ion-label>
        </ion-chip>
        <ion-chip outline="" color="tertiary" class="ion-color ion-color-tertiary md chip-outline ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Tertiary</ion-label>
        </ion-chip>
        <ion-chip outline="" color="success" class="ion-color ion-color-success md chip-outline ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Success</ion-label>
        </ion-chip>
        <ion-chip outline="" color="warning" class="ion-color ion-color-warning md chip-outline ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Warning</ion-label>
        </ion-chip>
        <ion-chip outline="" color="danger" class="ion-color ion-color-danger md chip-outline ion-activatable hydrated">
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Danger</ion-label>
        </ion-chip>
    </p>

    <ion-list-header class="md hydrated">Icons</ion-list-header>
    <p>
        <ion-chip outline="" color="primary" class="ion-color ion-color-primary md chip-outline ion-activatable hydrated">
            <ion-icon name="pin" role="img" class="md hydrated" aria-label="pin"></ion-icon>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Madison</ion-label>
            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
        </ion-chip>
        <ion-chip outline="" color="secondary" class="ion-color ion-color-secondary md chip-outline ion-activatable hydrated">
            <ion-icon name="wine" role="img" class="md hydrated" aria-label="wine"></ion-icon>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Nightlife</ion-label>
            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
        </ion-chip>
        <ion-chip outline="" color="tertiary" class="ion-color ion-color-tertiary md chip-outline ion-activatable hydrated">
            <ion-icon name="restaurant" role="img" class="md hydrated" aria-label="restaurant"></ion-icon>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Dining</ion-label>
            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
        </ion-chip>
        <ion-chip outline="" color="dark" class="ion-color ion-color-dark md chip-outline ion-activatable hydrated">
            <ion-icon name="videocam" role="img" class="md hydrated" aria-label="videocam"></ion-icon>
            <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Entertainment</ion-label>
            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
        </ion-chip>
    </p>

    <ion-list-header class="md hydrated">General</ion-list-header>
    <p>
        <ion-chip>
            <ion-label>Default</ion-label>
        </ion-chip>

        <ion-chip>
            <ion-label color="secondary">Secondary Label</ion-label>
        </ion-chip>

        <ion-chip color="secondary">
            <ion-label color="dark">Secondary w/ Dark label</ion-label>
        </ion-chip>

        <ion-chip>
            <ion-icon name="pin"></ion-icon>
            <ion-label>Default</ion-label>
        </ion-chip>

        <ion-chip>
            <ion-icon name="heart" color="dark"></ion-icon>
            <ion-label>Default</ion-label>
        </ion-chip>

        <ion-chip>
            <ion-label>Button Chip</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

        <ion-chip>
            <ion-icon name="pin" color="primary"></ion-icon>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
        </ion-chip>

        <ion-chip>
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Avatar Chip</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
    </p>
</ion-content>